* {
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
          user-select: none !important;
}

.wip_tag {
  display: block;
  position: fixed;
  top: 40px;
  right: -80px;
  padding: 20px 80px;
  text-align: center;
  background-color: #b73e3e;
  color: #dddcdc;
  z-index: 20000;
  transform: rotate(45deg);
}

body {
  transition: all 0.25s ease-in;
}
body .content {
  display: block;
  position: relative;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 20px 25px;
}
body .panel {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  border-radius: 4px;
  color: #dddcdc;
  border: 1px solid rgba(221, 220, 220, 0.2705882353);
  box-shadow: 0px 7px 14px 0px rgba(0, 0, 0, 0.4705882353);
  transition: all 0.25s ease-in;
  font-size: 0.8rem;
}
body .panel .add_new_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: 700;
  width: 100%;
  height: 100%;
}
body .panel .timer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px 15px;
}
body .panel .timer .timer_text {
  font-family: monospace;
  font-size: 1.5rem;
}
body .panel .timer .timer_icon {
  font-size: 1.5rem;
}
body .panel .timer_desc {
  border-left: 3px solid #dddcdc;
  border-radius: 3px;
  padding: 0px 8px;
}
body .panel .timer_btn_container {
  margin-top: 10px;
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  gap: 5px;
}
body .panel .timer_btn_container .btn {
  min-width: 45px;
}
body .modal-content {
  background-color: #343434;
  color: #dddcdc;
  border: 1px solid rgba(221, 220, 220, 0.2705882353);
}
body .modal-content .modal-header {
  border-bottom: 1px solid rgba(221, 220, 220, 0.2705882353);
}
body .modal-content .modal-footer {
  border-top: 1px solid rgba(221, 220, 220, 0.2705882353);
}
body.dark {
  background-color: #343434;
}
body.dark .counter {
  color: #dddcdc;
}
body.light {
  background-color: #dddcdc;
}
body.light .panel {
  color: #343434;
  border: 1px solid rgba(52, 52, 52, 0.3098039216);
}
body.light .panel .timer_desc {
  border-left: 3px solid #343434;
}
body.light .counter {
  color: #343434;
}
body.light .modal-content {
  background-color: #dddcdc;
  color: #343434;
  border: 1px solid rgba(52, 52, 52, 0.3098039216);
}
body.light .modal-content .modal-header {
  border-bottom: 1px solid rgba(52, 52, 52, 0.3098039216);
}
body.light .modal-content .modal-footer {
  border-top: 1px solid rgba(52, 52, 52, 0.3098039216);
}

.background_container {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.background_container .image_container {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.background_container .image_container img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  background-repeat: no-repeat;
  width: 110%;
  height: 110%;
}

.clickable {
  cursor: pointer !important;
}

.config_btn {
  text-align: center;
  min-width: 60px;
  transition: all 0.2s ease-in-out;
}

.config_btn_container {
  display: block;
  position: fixed;
  top: auto;
  left: auto;
  bottom: 10px;
  right: 10px;
  width: auto;
  height: auto;
  min-width: 5px;
  min-height: 5px;
  z-index: 120;
}
.config_btn_container.top_right {
  top: 10px;
  left: auto;
  bottom: auto;
  right: 10px;
}

.textarea_custom {
  width: 100%;
  overflow: hidden;
  resize: none;
}

label {
  font-weight: 600;
}/*# sourceMappingURL=style.css.map */